@{
    ViewBag.Title = "Medical Clinic Error";
}

<div class="jumbotron">
    @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "logout-admin" })
    <p>Hopa, a aparut o eroare :(</p>
</div>

<div class="page-header">
    <h4>Eroare:</h4>
</div>

A aparut o eroare, va rugam reveniti mai tarziu