@{
    ViewBag.Title = "Medical Clinic Error";
}

<div class="jumbotron">
    @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "logout-admin" })
    <p>Hopa, a aparut o eroare la nivelul bazei de date :(</p>
</div>

<div class="page-header">
    <h4>Eroare:</h4>
</div>

Este o eroare la executarea interogarii catre baza de date. Navigati inapoi si incercati din nou.